{% extends 'notes_app/layout.html' %}

{% block title %}Notes app{% endblock %}

{% block body %}

    {% for note in notes %}
        <div class="notes-container">
            <div class="note">
              <div class="note-title">{{ note.title }}</div>
              <div class="note-text">{{ note.text }}</div>
              <div class="note-meta">
                  {% if note.reminder %}
                      <span>Нагадування: {{ note.reminder|date:"Y-m-d H:i" }}</span>
                  {% endif %}
                      <span>Категорія: {{ note.category.title }}</span>
              </div>
            </div>
        </div>
    {% empty %}
        <p>Немає нотаток.</p>
    {% endfor %}

{% endblock %}