/* Базові налаштування тіла */
body {
    font-family: Arial, sans-serif;
    margin: 2em;
    background-color: #f1f1f1;
}

/* Стилі для основного контейнера нотатки */
.note-detail {
    color: black;
    background: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 700px;
    margin: 0 auto;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

/* Стилі для метаінформації (дати) */
.note-meta {
    color: gray;
    font-size: 0.9em;
}

/* Стилі для посилань */
a {
    color: #007BFF;
    text-decoration: none;
    font-size: 20px;
}
a:hover {
    text-decoration: underline;
}

#category {
    font-size: 16px;
}