{% extends "notes/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Створення нотатки{{ note.note_title }}{% endblock %}


{% block new %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'notes:index' %}">Назад до нотаток</a>
    </li>
{% endblock %}

{% block content %}
    <h6>Створення нової нотатки</h6>

    <div class="note-detail">
        <form action="{% url 'notes:add_note' %}" method="post">
            {% csrf_token %}
            {{ form|crispy}}
            <input type="submit" value="Зберегти">
        </form>
    </div>
{% endblock %}

