{% extends "notes/base.html" %}
{% load crispy_forms_tags %}

{% block title %}Редагування нотатки{{ note.note_title }}{% endblock %}

{% block new %}
    <li class="nav-item">
        <a class="nav-link" href="{% url 'notes:note_detail' note.id %}"">Повернутись до перегляду нотатки</a>
    </li>
{% endblock %}

{% block content %}
    <h6>Редагування нотатки</h6>

    <div class="note-detail">
        <form method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit">💾 Зберегти</button>
        </form>
    </div>
{% endblock %}

