{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{ note.title }}</title>
    {# Тут підключаємо файл style.css #}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="note-detail">
        <h1>{{ note.note_title }}</h1>
        <h4>Категорія: {{ note.note_category }}</h4>
        <p class="note-meta">
            Нагадування: {{ note.note_reminder|date:"d.m.Y H:i" }}<br><br>
        </p>
        <div class="note-content">
            {{ note.note_text|linebreaks }}
        </div>
        <hr>
        <p class="button-row">
            <a href="{% url 'notes:index' %}">⬅ Повернутися до списку нотаток</a>
            <a href="{% url 'notes:edit_note' note.id %}">✏️ Редагувати</a>
            <form action="{% url 'notes:delete_note' note.id %}" method="post" style="display:inline;">
                {% csrf_token %}
                <button type="submit" class="link-button">🗑️ Видалити цю нотатку</button>
            </form>
        </p>
    </div>
</body>
</html>